*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.header{
    background-color: #222;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo{
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    color: white;
    cursor: pointer;
}
.hero {
    height: 30vh;
    background-color: #f4f4f4;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.hero p {
    margin-bottom: 20px;
}
.btn {
    padding: 10px 20px;
    border: none;
    background-color:#222;
    color: white;
    cursor: pointer;
}
.skills {
    padding: 10px;
    text-align: center;
}
.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.skill {
    background-color: #ddd;
    padding: 15px 25px;
}
.projects {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
.project-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.card {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
}
.contact {
    padding: 10px;
    text-align: center;
}
.contact-form {
    max-width: 300px;
    margin: auto;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }
    .skill-box,
    .project-cards {
        flex-direction: column;
    }
}

